datasets==2.14.5
spacy-loggers==1.0.1
en-core-web-sm==3.2.0
langcodes==3.3.0
fsspec==2023.6.0
tzdata==2023.3
async-timeout==4.0.3
tqdm==4.63.0
catalogue==2.0.6
pandas==2.1.1
pathy==0.6.1
wasabi==0.9.0
multiprocess==0.70.15
evaluate==0.4.0
filelock==3.12.4
aiosignal==1.3.1
murmurhash==1.0.6
dill==0.3.7
spacy-legacy==3.0.9
pyarrow==13.0.0
smart-open==5.2.1
spacy==3.2.3
xxhash==3.3.0
cymem==2.0.6
multidict==6.0.4
srsly==2.4.2
PyYAML==6.0.1
responses==0.18.0
de-core-news-sm==3.2.0
frozenlist==1.4.0
yarl==1.9.2
blis==0.7.6
aiohttp==3.8.5
thinc==8.0.13
typer==0.4.0
preshed==3.0.6
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
sympy==1.12
platformdirs==4.2.0
pickleshare==0.7.5
nest_asyncio==1.6.0
sentry-sdk==2.19.2
networkx==3.1
networkx==3.2.1
idna==3.6
executing==2.0.1
pyparsing==3.1.1
wcwidth==0.2.13
rapidfuzz==3.6.1
gmpy2==2.1.2
decorator==5.1.1
nvidia-cusolver-cu12==11.4.5.107
camel-tools==1.5.2
nvidia-cufft-cu12==11.0.2.54
kiwisolver==1.4.5
huggingface-hub==0.23.4
ptyprocess==0.7.0
pydantic==2.10.4
pyrsistent==0.20.0
cffi==1.16.0
cycler==0.12.1
typing_extensions==4.12.2
typing_extensions==4.9.0
traitlets==5.14.1
filelock==3.13.1
wheel==0.41.2
docker-pycreds==0.4.0
bert-score==0.3.13
exceptiongroup==1.2.0
nvidia-cuda-cupti-cu12==12.1.105
entrypoints==0.4
GitPython==3.1.42
charset-normalizer==3.3.2
parso==0.8.3
nvidia-nvjitlink-cu12==12.3.101
cyhunspell-py310==2.0.3
psutil==5.9.8
psutil==5.9.0
numpy==1.23.1
contourpy==1.2.0
prompt-toolkit==3.0.42
gluonnlp==0.10.0
Jinja2==3.1.3
nvidia-cuda-nvrtc-cu12==12.1.105
tenacity==8.2.3
sacremoses==0.1.1
cachetools==5.3.2
matplotlib==3.8.3
pillow==10.2.0
mpmath==1.3.0
nvidia-cublas-cu12==12.1.3.1
plotly==5.19.0
gitdb==4.0.11
transformers==4.30.0
Pygments==2.17.2
joblib==1.3.2
tokenizers==0.12.1
pycparser==2.21
tornado==6.1
mxnet==1.9.1
click==8.1.7
certifi==2023.11.17
Cython==3.0.11
blessed==1.20.0
packaging==23.2
annotated-types==0.7.0
matplotlib-inline==0.1.6
nltk==3.8.1
debugpy==1.6.7
accelerate==0.26.1
docopt==0.6.2
nvidia-nccl-cu12==2.18.1
stack-data==0.6.2
triton==2.1.0
triton==2.0.0
setuptools==68.2.2
torch==1.12.1
pure-eval==0.2.2
gpustat==1.1.1
scikit-learn==1.4.0
pyzmq==25.1.2
urllib3==2.1.0
python-Levenshtein==0.25.0
Levenshtein==0.25.0
MarkupSafe==2.1.4
MarkupSafe==2.1.3
pytz==2023.3.post1
mosestokenizer==1.2.1
attrs==23.2.0
ipykernel==6.29.2
colorama==0.4.6
setproctitle==1.3.4
editdistance==0.6.2
camel-kenlm==2023.3.17.2
pip==23.3.1
toolwrapper==2.1.0
fonttools==4.49.0
sentencepiece==0.2.0
six==1.16.0
yattag==1.15.2
scipy==1.12.0
regex==2023.12.25
PyYAML==6.0.1
asttokens==2.4.1
graphviz==0.8.4
portalocker==2.8.2
ipython==8.21.0
comm==0.2.1
tseval==1.0
tabulate==0.9.0
pexpect==4.9.0
uctools==1.3.0
sacrebleu==2.0.0
muddler==0.1.3
future==0.18.3
simalign==0.4
CacheMan==2.2.0
nvidia-nvtx-cu12==12.1.105
openfile==0.0.7
jupyter-client==7.3.4
pydantic_core==2.27.2
jedi==0.19.1
nvidia-ml-py==12.535.133
wandb==0.19.1
nvidia-curand-cu12==10.3.2.106
smmap==5.0.1
emoji==2.10.0
threadpoolctl==3.2.0
lxml==5.1.0
seaborn==0.13.2
requests==2.31.0
jiwer==3.0.4
jupyter_core==5.7.1
nvidia-cusparse-cu12==12.1.0.106
protobuf==3.20.0
safetensors==0.4.1
python-dateutil==2.8.2
stanfordnlp==0.2.0
